/* Reset */
* {
	margin: 0;
	padding: 0;
	/* dont want padding to add to the width */
	box-sizing: border-box;
}

/* Main Styling */
html,
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6rem;
}

a {
	color: #333;
	text-decoration: none;
}

h1,
h2,
h3 {
	padding-bottom: 1.25rem;
}

p {
	margin: 0.625rem 0;
}

/* Utility Classes - You can use these styling classes for various elements, used anywhere */
.container {
	margin: auto;
	max-width: 68.75rem;
	overflow: auto;
	padding: 0 1.25rem;
}

.text-primary {
	color: #f7c08a;
}

.lead {
	font-size: 1.25rem;
}

.btn {
	display: inline-block;
	font-size: 1.125rem;
	color: #fff;
	background: #333;
	padding: 0.8125rem 1.25rem;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: #f7c08a;
	color: #333;
}

.btn-light {
	background: #f4f4f4;
	color: #333;
}

.bg-dark {
	background: #333;
	color: #fff;
}

.bg-light {
	background: #f4f4f4;
	color: #333;
}

.bg-primary {
	background: #f7c08a;
	color: #333;
}

/* Padding */
/* padding for top and bottom */
.py-1 {
	padding: 0.625rem;
}
.py-2 {
	padding: 1.25rem;
}
.py-3 {
	padding: 1.875rem;
}

/* Navbar */
#navbar {
	background-color: #333;
	color: #fff;
	overflow: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#navbar a {
	color: #fff;
}

#navbar ul {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}

#navbar ul li a {
	color: #fff;
	text-decoration: none;
	padding: 1.25rem;
}

#navbar ul li a:hover,
#navbar ul li a.current {
	background: #444;
	color: #f7c08a;
}

#navbar h1 {
	padding: 1.25rem;
}

/* Showcase */
#showcase {
	background: url("../img/showcase.jpg") no-repeat center center/cover;
	height: 37.5rem;
}

#showcase .showcase-content {
	color: #fff;
	text-align: center;
	padding-top: 10.625rem;
}

#showcase .showcase-content h1 {
	font-size: 3.75rem;
	line-height: 4rem;
}

#showcase .showcase-content p {
	padding-bottom: 1.25rem;
	line-height: 2rem;
}

/* Home Info */
#home-info {
	height: 25rem;
	display: flex;
	width: 100%;
}

#home-info .info-img {
	background: url("../img/photo-1.jpg") no-repeat;
	flex-basis: 50%;
	min-width: 50%;
	min-height: 100%;
}

#home-info .info-content {
	flex-basis: 50%;
	widows: 50%;
	height: 100%;
	text-align: center;
	padding: 3.125rem 1.875rem;
	/* no scrollbars if anything goes out of the container */
	overflow: hidden;
}

#home-info .info-content p {
	padding-bottom: 1.875rem;
}

/* Features */

#features {
	display: flex;
}
.box {
	width: 33.3%;
	padding: 3.125rem;
	text-align: center;
}

.box i {
	margin-bottom: 0.625rem;
}

/* About info */

.about-items {
	display: flex;
}

#about-info .info-right {
	width: 50%;
	min-height: 100%;
	padding-left: 5rem;
}

#about-info .info-right img {
	width: 70%;
	border-radius: 0.3125rem;
}

#about-info .info-left {
	width: 50%;
	min-height: 100%;
}

/* Testimonials */
#testimonials {
	height: 37.5rem;
	background: url("../img/test-bg.jpg") no-repeat center center/cover;
	padding-top: 6.25rem;
}

.testimonial {
	display: flex;
}

#testimonials h2 {
	color: #fff;
	text-align: center;
	padding-bottom: 2.5rem;
}

#testimonials .testimonial {
	padding: 1.25rem;
	margin-bottom: 2.5rem;
	border-radius: 0.3125rem;
	opacity: 0.9;
}

#testimonials .testimonial img {
	width: 6.25rem;
	border-radius: 50%;
	margin-right: 1.25rem;
}

/* Footer */
#main-footer {
	text-align: center;
	background: #444;
	color: #fff;
	padding: 1.25rem;
}
